@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');

.custom.controller {
    width: 1900px;
    height: 360px;
    font-family: 'Orbitron', sans-serif;
}


.custom .stick{
    width: 20px;
    height: 20px;
    background: #fd1601;
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.custom .sticks{
    width: 135px;
    height: 135px;
    display: inline-block;
    position: relative;
    background: black;
    border: 2px solid #db6946;
    border-radius: 15px;
    background-image: linear-gradient(0deg, transparent 48%, #db6946 49%, #db6946 50%, #db6946 51%, transparent 52%, transparent), linear-gradient(90deg, transparent 48%, #db6946 49%, #db6946 50%, #db6946 51%, transparent 52%, transparent);
    top: calc(42px);
    background-size: calc(100% - 15px) 100%, 100% calc(100% - 15px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px
}


.custom .triggers{
    width: 135px;
    height: 20px;
    display: inline-block;
    background: black;
    position: relative;
    border: 2px solid #db6946;
    border-radius: 20px;
    background-image: linear-gradient(0deg, transparent 48%, #db6946 49%, #db6946 50%, #db6946 51%, transparent 52%, transparent);
    background-size: calc(100% - 10px) 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px
}

.custom .triggers:before{
    content: "YAW";
    display: inline-block;
    position: absolute;
    font-size: 14px;
    color: #db6946;
    top: -1.5em;
    right: 50%;
    transform-origin: center;
}

.custom .sticks:before{
    content: "ROLL";
    display: inline-block;
    position: absolute;
    font-size: 15px;
    color: #db6946;
    top: -1.5em;
    left: 50%;
    transform: translateX(-50%);
}


.custom .sticks:after{
    content: "PITCH";
    display: inline-block;
    position: absolute;
    font-size: 15px;
    color: #db6946;
    top: 50%;
    right: -2.5em;
    transform-origin: center;
    transform: translateY(-50%) rotate(-90deg);
}

.custom .stick.left{
    top: 50%;
    left: 50%;
}

.custom .stick.right{
    top: -55px;
    left: 50%;
}
